<h1 class="title">Portfolio</h1>
<h2>Personal Projects</h2>


<app-card title="Bill Splitter" [content]="bill"></app-card>
<h2>School Projects</h2>
<mat-list>
  <h3>Intro to Computer Science 1/2</h3>
  <div *ngFor="let project of projects">
    <app-card [title]="project.title" [content]='project.content'>

    </app-card>
    <mat-divider></mat-divider>
  </div>
</mat-list>
<h3>Systems Programming:</h3>
<mat-list>
  <div *ngFor="let sys of systems">
    <app-card [title]="sys.title" [content]='sys.content'>

    </app-card>
    <mat-divider></mat-divider>
  </div>
</mat-list>
