<h1>Portfolio</h1>
<h2>School Projects</h2>

<mat-list>
  <h3>Intro to Computer Science 1/2</h3>
  <div *ngFor="let project of projects">
    <app-card  [title]="project.title" [content]='project.content'>

    </app-card>
    <mat-divider></mat-divider>
  </div>

  <h4 mat-subheader>Genetic Algorithm</h4>
  <p>Language: Scala</p>
  <p>Implements a generic genetic algorithm that can solve problems such as linear/polynomial regression. It generates
    random solutions, sorts them by how fit they are, keeps the best ones letting them redproduce with some randomness,
    all until a solution close to ideal is produced.</p>

  <mat-divider></mat-divider>

  <h4 mat-subheader>MMO Pathfinding:</h4>
  <p>Language: Scala</p>
  <p>Uses breath-first search to navigate a graph/map produced from JSON. Navigates the grid from starting point to
    clicked position on the GUI avoiding obstacles in the shortest path.</p>

  <mat-divider></mat-divider>

  <h4 mat-subheader>MMO Project</h4>
  <p>Languages: Scala, HTML, CSS, Javascript</p>
  <p>Semester long project that creates a simple MMO game that uses MVC architecture. It demonstrates inheritance and
    other Object Orientated principles with rpg characters with classes. Uses websockets to communicate between web /
    gui client and the server. The server utilizes actors to communicate between the different systems. Handles battles
    between multiple parties and displays animations and interaction between multiple clients.</p>

  <mat-divider></mat-divider>

</mat-list>
<mat-list>
  <h3>Systems Programming:</h3>

  <h4 mat-subheader>Conway's Game of Life</h4>
  <p>Language: C</p>
  <p>Implements Conway's Game of Life in a simple command line interface. Can be animated or jump to a certain
    generation. Works by creating and printing the grid in a two dimensional matrix.</p>

  <h4 mat-subheader>Priority Queue:</h4>
  <p>Language: C</p>
  <p>Implements a priority queue in c using structs and pointers.</p>

  <h4 mat-subheader>Instant Messenger</h4>
  <p>Language: C</p>
  <p>Packs and unpacks different packet types that are used in instant messenger between clients and a server. Uses void
    pointers to pack data making use of stride and pointer arithmetic.</p>

  <h4 mat-subheader>Malloc</h4>
  <p>Language: C</p>
  <p>Reimplements the malloc system call. Breaks up memory when needed using sbrk calls then adds split up chunks and
    adds them to a table of free lists that points to free blocks of memory of each size. When allocated free blocks are
    removed and the next block becomes the head. Uses bit flags in the size of the block to indicate if the block is
    free and it is masked when needed. </p>

  <h4 mat-subheader>Producer Consumer Queue</h4>
  <p>Language: C</p>
  <p>Reimplements semaphores using mutexes and condition variables for synchronization with threads. These semaphores
    are used to create a pcq data structure that creates a queue that allows for synchroniztion in insertion, removal,
    and destruction of the queue. </p>
</mat-list>
